* {
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: black;
    color: white;
    font-family: sans-serif;
}
.content{
    padding: 4rem;
}
section{
    border: 2px solid white;
    margin: 1.5rem 0 1.5rem 0;
    padding: 1.7rem;
}

section h1{
    margin: 0 0 1.5rem 0;
}

.scroll-indicator{
    height: 10px;
    width: calc(100% - 6em);
    top: 1.5em;
    left: 3em;
    border-radius: 3px;
    position: fixed;
    border: 1px solid red;
}
.scroll-indicator .progress{
    height: 100%;
    width: 0%;
    border-radius: 3px;
    background: linear-gradient(30deg, #21d4fd, #b721ff);
    transition: width 0.1s;
}