* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b1b1b;
    color: white;
    font-family: sans-serif;
}

p{font-size: 3rem;}

.js{
    color: yellow;
}

.typed-text{
    color: #20c20e;
}
.cursor {
    color: #20c20e;
}