* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: crimson;
}

.btn{
    border: none;
    padding: 1rem 4rem;
    background: rgba(17, 17, 137, 0.824);
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

}
.btn::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: teal;
    top: -10px;
    left: -10px;
    border-top: 5px solid darkblue;
    border-left: 5px solid darkblue;
    transition: all 0.25s;
    background: transparent;
}
.btn:hover::before,
.btn:hover::after{
    height: 100%;
    width: 100%;
}
.btn::after{
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 5px solid darkblue;
    border-right: 5px solid darkblue;
    transition: all 0.25s;
}